@font-face {
    font-family: 'dancing_script_otregular';
    src: url('../fonts/dancingscript-regular-webfont.woff2') format('woff2'), url('../fonts/dancingscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.poster-img img {
    width: 100%;
}

#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    display: block;
    margin: 0 auto;
}

.unmuteBtn {
    width: 50px;
    height: auto;
    top: 20px;
    right: 30px;
    z-index: 101;
    position: absolute;
    cursor: pointer;
}

.unmuteBtn img {
    width: 80%;
}


/* =Hero
-------- */

.bottom-index {
    position: relative;
    width: 100%;
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 0;
    min-height: 700px;
    text-align: center;
    position: relative;
    background-color: #fafbfb;
    /* layer fill content */
    color: white;
    /* border-bottom: 1px solid #0f0d0d; */
}

.hero {
    position: relative;
    width: 100%;
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 0;
    min-height: 700px;
    text-align: center;
    position: relative;
    background-color: #0D2233;
    /* layer fill content */
    color: white;
    border-bottom: 20px solid #46667A;
}

.hero-image {
    background: url("../images/guitar_player_hero.jpg") no-repeat;
    background-size: cover;
    background-position: 50% 0%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .9;
}

.hero-image:after {
    content: '';
    opacity: .5;
    /* layer alpha */
    /* background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSIxMDAlIiB5MT0iNTAlIiB4Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIiB5Mj0iNTAlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JiNDI0MiIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VmYWI0YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+); */
    /* gradient overlay */
    background-image: -moz-linear-gradient(top, #000000 0%, #000 100%);
    /* gradient overlay */
    background-image: -o-linear-gradient(top, #000000 0%, #000 100%);
    /* gradient overlay */
    background-image: -webkit-linear-gradient(top, #000000 0%, #000 100%);
    /* gradient overlay */
    background-image: linear-gradient(top, #000000 0%, #000 100%);
    /* gradient overlay */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hero h2 {
    font-size: 24px;
}

.hero p {
    padding: 0;
}

.hero .separator:before {
    background-color: white;
}

.introduction {
    position: relative;
    width: 100%;
    /* max-width: 1200px; */
    margin: 0 auto;
    background-color: #0f0d0d;
}

.main-img-01 img {
    width: 100%;
}

.main-img-02 img {
    width: 100%;
}

.align-center-content {
    align-items: center;
}

.sec-padding {
    padding: 75px 0;
}

.marg-top {
    margin-top: 5%;
}

.latency {
    background-color: #0D2233;
    position: relative;
    width: 100%;
    /* max-width: 1200px; */
    margin: 0 auto;
}

.video-container-hero {
    position: relative;
    max-width: 700px;
    padding-bottom: 54.25%;
    padding-top: 0px;
    height: 0;
    overflow: hidden;
    border: 5px solid #46667A;
    margin: 5px 0;
}

.video-container-hero iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

label,
legend {
    font-weight: 400;
}

input[type="submit"] {
    float: right;
    margin-top: 15px;
}

.poster-img {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    display: block;
    margin: 0 auto;
}

.pic-full-length {
    /* width: 100%;
    height: auto; */
}

.pic-full-length img {
    width: 100%;
}

.bottomIndexCont {
    display: flex;
    /* flex-wrap: wrap; */
    align-content: center;
    max-width: 1200px;
    height: 700px;
    width: 100%;
    margin: 0 auto;
    /* background-color: #161718; */
}

.left-side-content.hero01 {
    background-color: aqua;
}

.right-side-content.hero02 {
    background-color: rgb(241, 10, 210);
}

.prod-img img {
    width: 100%;
}

.amazon-btn img {
    width: 100%;
}

.three_col {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    align-content: center;
    /* padding: 0 30px 0 30px; */
}


/* .col-cat{
    width: 300px;
    flex-grow: 3;
    margin: 25px 30px;
    height: 1050px;
    background-color: black;
    text-align: center;
    text-shadow: 1px 1px black;
} */

.col-cat img {
    width: 100%;
}

.col-title {
    color: #fff;
    /* color:#FAFBFB; */
    padding: 0 30px;
    text-align: left;
    font-size: 21px;
    transform: translate(0, -200px);
}

.col-p {
    color: #DADADA;
    /* color: #EBEBEB; */
    /* color:#FAFBFB; */
    padding: 30px;
    text-align: left;
    transform: translate(0, -200px);
}

.col-btn.button {
    color: #FFF;
    border: 1px solid #F61B1B;
    background-color: #F61B1B;
    cursor: pointer;
    text-transform: none;
    font-size: 12.5px;
    letter-spacing: 0;
}

.imgCenter {
    /* position: absolute;
    top: 0%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%);*/
    background-size: cover;
    height: 100%;
    background-position: center center;
    background-image: url(../images/small_orchastra_strip.jpg);
}

.font-title-home {
    text-shadow: 1px 1px black;
}

.prod-ad-1 {
    border-radius: 15px;
    pointer-events: auto;
    z-index: 100;
}

.prod-ad-2 {
    border-radius: 15px;
    pointer-events: auto;
}

.prod-ad-cont {
    display: none;
}

.swiper-container {
    position: absolute !important;
    width: 100%;
    height: 340px;
    margin-left: auto;
    margin-right: auto;
    /* background: #f9fbfa; */
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #0f0c0c;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
    color: #F61B1B;
}

.swiper-pagination-bullet-active {
    background: #F61B1B;
}

.left-side-img img {
    width: 100%;
}

.swiper-cont-left {
    font-family: 'dancing_script_otregular', Arial, sans-serif;
}

a.time-date {
    color: #F61B1B;
}

a.time-date:hover {
    color: #f84949;
}

.left-image-cont3 img {
    width: 100%;
    -webkit-filter: drop-shadow(1px 1px 1px #333);
    filter: drop-shadow(1px 1px 1px #333);
}

.right-image-cont3 img {
    width: 100%;
}

.left_group {
    padding: 1.75%;
    width: 150px;
    max-height: 340px;
}

.right_group {
    padding: 1.75%;
    width: 150px;
    max-height: 340px;
}

.left_group img{
    width:100%;
}
.right_group img{
    width:100%;
}

.center_cont_01 {
    align-self: center;
}
.center_cont_01 img{
    width: 100%;
}

.slide_container_04{
    position: relative; 
    height: 340px; 
    max-width: 1400px; 
    width:100%; 
    display:flex; 
    flex-direction: row; 
    flex-wrap: nowrap; 
    margin: 0 10%;
    cursor: pointer;
}

.left_cont_04 {
    max-height:340px; 
    width: 86%; 
    overflow: hidden; 
}

.right_cont_04 {
    max-height:340px; 
    width: 86%; 
    overflow: hidden; 

}