@media (min-width: 0px) {
    /* #ew-mobile-cont{
        display:block;
    }
    #ew-desktop-cont{
        display:none;
    } */

    /* .text-title-lg {
        font-size: 48px;
    }

    .sub-text-top{
        font-size: 21px;
        padding-top: 0.75%;
    } */

    .title_03{
        font-weight: 600; 
        margin:1% 0 0 0; 
        font-size: 1.8rem;
    }

    .alex-btn{
        width: 160px;
        border-radius: 8px;
        border: 1px solid #FAFBFB;
        color: #FAFBFB;
        font-size: 14px;
        font-weight: 600;
        text-align: center;
        align-self: center;
        padding: 10px 0;
        margin-top: 5%;
    }
    
    .alex-btn:hover{
        background-color: #FAFBFB;
        color:#0f0d0d;
        cursor: pointer;
    }
    

    .text-title-lg {
        font-size: 18px;
        padding:0 10%;
    }

    .sub-text-top{
        font-size: 12px;
        padding:25px 10% 0 10%;
    }

    p.alex-txt{
        font-size: 12px;
        margin-bottom: 0.5rem;
        padding:0 15%;
        
    }




    .jtvs-banner-left img{
        width: 100%;
    }


    .jtvs-banner-desktop{
        display: none;
    }

    .jtvs-banner-tablet{
        display: flex;
    }

    .jtvs-top-cont{
        /* display: flex;
        flex-direction: column; */
    }
    .jtvs-banner-bottom-tablet {
        display: flex;
        flex-direction: column;
        padding: 1% 0 3% 0;
    }

    .jtvs-banner-tablet{
        background-color: #0f0d0d;
        width: 100%;
        /* height:200px; */
        flex-direction: column;
    }
    .jtvs-btn-bottom{
        align-self: center;
    }
    .jtvs-button-cont-left{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-bottom: 10%;
    }
    .jtvs-button-cont-right{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-bottom: 12%;
    }
    .jtvs-banner-bottom{
        display: flex;
        flex-direction: row;
        align-self: center;
        width: 100%;
    }
    .jtvs-banner-top{
        height: 48%;
    }

    .jtvs-btn-top{
        color: #FAFBFB;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        padding: 4% 10%;
    }

    .jtvs-banner-desktop{
        background-color: #0f0d0d;
        width: 100%;
        height:200px;
        flex-direction: row;
    }
    .jtvs-banner-left{
        height: 100%;
        padding: 10%;
        /* align-self: center; */
        /* display: flex; */
    }
    .jtvs-banner-right{
        align-self: center;
        display: flex;
        padding: 0% 10% 10% 10%;
        flex-direction: column;
    }
    .banner-top-txt{
        color: #FAFBFB;
        font-size: 21px;
        font-weight: 500;
        text-align: left;
        display: flex;
        /* padding: 2.5% 0 3.5% 3%; */
        line-height: 28px;
    }

    #ew-bg{
        width: 100%;
        
        left: 0%;
        top: -50%;
        opacity: .4;
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    
    #ew-info{
        width: 90%;
        right: 5%;
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    #ew-bg img{
        margin-top:0%;
    } 
    .tagline-06{
        color:#cccccc;
        font-size:16px;
    }
    .slide_container_06{
        flex-direction: column; 
        flex-wrap: wrap; 
    }

    .leftside_03{
        width: 75%;
        padding: 40px 10%;
        height: auto;
        align-self: center;

    }
    .rightside_03{
        width: 100%;
        padding: 5% 0 5% 12%;
        height: auto;
        align-self: center;
        display: none;
    }

    .leftside_06{
        width: 75%;
        padding: 24% 10%;
        height: auto;
        align-self: center;

    }
    .rightside_06{
        width: 100%;
        padding: 5% 0 5% 12%;
        height: auto;
        align-self: center;
        display: none;
    }
    .leftside_05 {
        display: none;
    }
    
    .rightside_05 {
        display: none;
    }
    
    .center_05{
        width: 100%; 
    }

    .center_cont_01{
        align-self: center; 
        padding: 10% 15% 5% 15%;
    }
    .center_cont_02{
        color: #0f0d0d;
        font-size: 16px;
        padding: 5% 15% 8% 15%;
    }
    .left_cont_04 {
        display: none;
    }

    .right_cont_04 {
        display: none; 
    }

    .container_03 {
        width: 100%;
        position: relative;
        max-width: 1300px;
        height: 360px;
        /* flex-direction: row; */
        display: flex;
        margin: 0 auto; 
        overflow: hidden;
    }
    .left-image-cont3 {
        align-self: flex-start;
        padding: 5vh 15%;
    }
    .right-image-cont3 {
        position: absolute;
        align-self: flex-end;
        width: 150%;
        left: -25%;
    }

    .swiper-cont {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        background-color: #0f0d0d;
        /* padding-bottom: 3%; */
        Margin: 0;
        /* border-radius: 15px; */
        opacity: 0.9;
        height: 100%;
        background: rgb(2,0,36);
        background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(255,255,255,0) 0%, rgba(0,0,0,0.7) 50%, rgba(0,0,0,1) 100%); 
    }
    .swiper-cont-left {
        /* background-color: #000; */
        width: 80%;
        padding: 5% 0 0 0;
        font-size: 21px;
        align-self: center;
        display: flex;
        flex-direction: column;
        position: relative;
        margin: 0 auto;
        
    }
    .swiper-img-left {
        width: 100%;
        overflow: hidden;
        max-height: 280px;
        padding-top: 20px;
    }
    .swiper-cont-right {
        /* background-color: #000; */
        width: 80%;
        padding: 5% 0;
        font-size: 12px;
        align-self: center;
        text-align: left;
        display: flex;
        flex-direction: column;
        position: relative;
        margin: 0 auto;
    }
    .swiper-img-right {
        width: 50%;
        overflow: hidden;
        max-height: 280px;
        padding-top: 20px;
    }
    .swiper-img-left img {
        width: 100%;
    }
    .swiper-cta {
        color: #0f0d0d !important;
        font-size: 14px;
        padding: 10px 25px;
        border-radius: 10px;
        border: 1px solid #0f0d0d;
        background: rgba(0, 0, 0, 0);
        height: 20px;
        margin: 1%;
        cursor: pointer;
    }
    .swiper-cta:hover {
        color: #FAFBFB !important;
        background: #0f0d0d;
    }
    .swiper-logo {
        width: 200px;
        height: 80px;
        padding: 15px;
    }
    .swiper-info {
        color: #30323A;
        font-size: 14px;
        font-weight: 300;
        text-align: left;
        max-width: 60%;
        height: 100px;
        padding: 1% 2% 3% 8%;
    }
    .swiper-logo img {
        width: 100%;
    }
    .swiper-cont-top {
        max-width: 1200px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
        margin: 0;
        overflow: hidden;
        height: 291.27px;
        position: absolute;
        top: 0px;
    }
    .swiper-cont-bottom {
        max-width: 1200px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
        margin: 0;
        overflow: hidden;
        height: 0px;
        position: absolute;
        bottom: 50px;
        visibility: hidden;
    }
    .swiper-img-size {
        max-width: 170px;
        height: 96.27px;
    }
    .swiper-img-size img {
        width: 101%;
    }
    .pagination a {
        color: black;
        float: left;
        padding: 8px 14px;
        text-decoration: none;
        transition: background-color .3s;
    }
    .pagination-center {
        display: flex;
        margin-bottom: 50px;
        justify-content: center;
    }
    .studio-text {
        text-align: left;
        max-width: 55%;
    }
    .hero-award {
        position: absolute;
        right: 6%;
        bottom: -1%;
        width: 125px;
    }
    .hero-award img {
        width: 100%;
    }
    .footer-margin {
        width: 90%;
    }
    .btn-cont {
        max-width: 300px;
    }
    .studio {
        margin: 30px auto;
    }
    .banner-ad-cont {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        background-color: #0f0d0d;
        align-items: center;
    }
    .banner-logo {
        max-width: 400px;
        padding: 10%;
    }
    .banner-logo img {
        width: 100%;
    }
    .banner-txt {
        float: left;
        color: #FAFBFB;
        padding: 0 10% 10% 10%;
    }
    .banner-button {
        padding: 0 10% 10% 10%;
    }
    .banner-button .btn-margin {
        margin: 0;
    }
    .news-menu-item-cont#s0 {
        display: none;
    }
    .ad-cont-1140 {
        width: 100%;
        height: auto;
        display: none;
        cursor: pointer;
    }
    .ad-cont-800 {
        width: 100%;
        height: auto;
        display: block;
        cursor: pointer;
    }
    .left-side-content.clear-settings {
        padding: 0;
    }
    .news-container {
        position: relative;
        width: 275px;
        height: 320px;
        background-color: #fff;
        border: 1px solid #acacac;
        margin: 15px;
    }
    .news-logo {
        padding: 20px 0 5px 20px;
        width: 80px;
        height: auto;
        float: left;
    }
    .news-date {
        padding: 0 20px 5px 20px;
        width: 150px;
        height: auto;
        float: left;
        color: #575D60;
        font-size: 12px;
        text-align: left;
    }
    .news-time {
        padding: 0 20px 5px 20px;
        width: 150px;
        height: auto;
        float: right;
        color: #575D60;
        font-size: 12px;
        text-align: left;
    }
    .news-date-e {
        padding: 44px 20px 0 0;
        width: 130px;
        height: auto;
        float: right;
        color: #575D60;
        font-size: 12px;
        text-align: right;
    }
    .news-time-e {
        padding: 0 20px 5px 0;
        width: 130px;
        height: auto;
        float: right;
        color: #575D60;
        font-size: 12px;
        text-align: right;
    }
    .news-image {
        padding: 0px 20px 0 20px;
        /* width: 340px; */
        height: auto;
    }
    .news-headline {
        font-size: 13px;
        padding: 0 20px 10px 20px;
        font-weight: 600;
        color: #0f0d0d;
        line-height: 18px;
    }
    .news-cta {
        width: 150px;
        height: auto;
        text-align: right;
        padding: 0 30px 30px 0;
        color: #0A6BA8;
        font-weight: 500;
        position: absolute;
        bottom: 0px;
        right: 0px;
    }
    .feed {
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        /* margin: 15px; */
        max-width: 900px;
        left: auto;
    }
    .news-menu {
        position: fixed;
        height: 70px;
        bottom: 0;
        width: 100%;
        background-color: #46667A;
        margin-left: 0;
    }
    .news-menu-item-cont {
        position: fixed;
        color: #fff;
        padding: 20px 0 0 0;
        font-size: 18px;
        width: 100%;
        text-align: center;
        bottom: 0;
        padding-bottom: 18px;
    }
    .arrow-left-select {
        display: none;
    }
    .arrow-left-select img {
        height: 8px;
        float: left;
        padding-top: 10px;
    }
    .news-menu-select {
        width: 100%;
        /* margin-left: 15px; */
        float: left;
        cursor: pointer;
    }
    .tableLabel01 {
        font-weight: 600;
        float: left;
        width: 164px;
        padding: 0 0 10px 30px;
    }
    .tableLabel02 {
        font-weight: 600;
        width: 1140px;
        text-align: center;
    }
    .tableLabel03 {
        font-weight: 600;
        text-align: right;
        width: 845px;
        padding: 0 0 10px 0;
    }
    .textcont50L {
        width: 100%;
    }
    .textcont50R {
        width: 100%;
        padding-top: 30px;
    }
    .Non-ProfitAll {
        font-weight: 500;
        float: left;
        margin-left: 10px;
    }
    .checkbox-all {
        float: left;
    }
    .sub {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 320px;
        margin: 25px 30px;
        height: auto;
        /* opacity: .5; */
        background-color: #46667A;
        border-radius: 10px;
        text-align: center;
        color: #FAFBFB;
    }
    .sub_title {
        flex-wrap: wrap;
        padding: 27px 0 10px 30px;
        width: 100%;
        height: auto;
        font-size: 20px;
        text-align: left;
        margin-right: x;
    }
    .Non-Profit {
        flex-wrap: wrap;
        padding: 10px 0 10px 30px;
        width: 30%;
        height: auto;
        text-align: left;
        font-size: 14px;
    }
    .checkbox {
        flex-wrap: wrap;
        padding: 3px 20px 10px 0px;
        width: 26px;
        height: 25px;
    }
    .subPrice {
        padding: 0 10px 0 30px;
        width: 100%;
        height: auto;
        font-size: 30px;
        text-align: left;
    }
    .mus-hours {
        padding: 0 10px 20px 30px;
        width: 60%;
        height: auto;
        font-size: 12px;
        text-align: left;
    }
    .addPrice {
        padding: 0 10px 0 30px;
        width: 100%;
        height: auto;
        font-size: 30px;
        text-align: left;
    }
    .mus-hours-full1 {
        padding: 0 30px 10px 30px;
        width: 100%;
        height: auto;
        font-size: 12px;
        text-align: left;
    }
    .mus-hours-full2 {
        padding: 0 10px 30px 30px;
        width: 100%;
        height: auto;
        font-size: 12px;
        text-align: left;
    }
    .tableCatHideShow {
        display: none;
    }
    .left-side-content.priceTb {
        width: auto;
    }
    .podcast {
        padding-right: 0;
        margin: 0;
    }
    .podcast iframe {
        width: 100%;
        background: transparent;
    }
    .podcast-txt {
        margin-bottom: 5px;
        text-align: left;
        padding-right: 30px;
        margin-top: 15px;
        /* transform: translate(0, -100%); */
    }
    .banner-bar-s {
        /* align-items: flex-start; */
        flex-wrap: nowrap;
        width: auto;
        float: left;
        text-align: center;
        padding: 0 0 30px 0;
    }
    .banner-h-size {
        height: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .prod-ad-cont {
        width: 175px;
        margin: 0 auto;
    }
    .prod-ad-1 {
        width: 100%;
        height: 175px;
        background-color: #0f0d0d;
        margin-top: 10px;
    }
    .prod-ad-2 {
        width: 100%;
        height: 175px;
        background-color: #0f0d0d;
        margin-top: 30px;
    }
    .avail-now {
        color: #F61B1B;
        margin: 0 auto;
        font-weight: 600;
        font-size: 14px;
    }
    .hero {
        min-height: 360px;
    }
    .orders-20 {
        width: 100%;
        margin: 30px auto 0 auto;
        transform: translate(0px, 0px);
    }
    .introduction-vs {
        height: auto;
    }
    .orders-20-l {
        width: 100%;
        margin-top: 0;
        transform: translate(0, 10);
        text-align: center;
        color: #fafbfb;
    }
    .banner-bar-s {
        align-items: center;
        flex-wrap: wrap;
    }
    .banner-bar {
        flex-direction: column;
    }
    .amazon_btn_vs {
        padding-top: 10px;
    }
    .amazon_btn_vs-top {
        padding-top: 10px;
    }
    .col-cat {
        flex-grow: 3;
        max-width: 340px;
        flex-grow: 3;
        max-height: 1200px;
        background-color: black;
        margin: 25px auto;
        text-shadow: 1px 1px black;
    }
    .bottomIndexCont {
        /* height:1700px; */
        flex-wrap: wrap;
        padding-top: 75px;
        height: auto;
    }
    .fineprint.txtAlignR {
        text-align: center;
    }
    .fineprint.txtAlignL {
        text-align: center;
    }
    .studio-block-right.main {
        flex-direction: column;
    }
    .title-line {
        width: auto;
    }
    .left-image-studio img {
        border: 1px solid #CFCFCF;
        position: relative;
        left: 0px;
        width: 100%;
        -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.44);
        -moz-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.44);
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.44);
    }
    .right-image-studio img {
        border: 1px solid #CFCFCF;
        position: relative;
        /* right: 30px; */
        width: 100%;
        -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.44);
        -moz-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.44);
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.44);
    }
    .studio-block-left.main {
        flex-direction: column;
    }
    #aff1.aff {
        display: none;
    }
    #aff2.aff {
        display: none;
    }
    .form_layout {
        width: 100%;
    }
    .model-graphic {
        position: relative;
        width: 100%;
        margin: 0 auto 30px 0;
        /* margin-bottom: 80px; */
    }
    .left-side-content.ext-links-layout {
        width: auto;
        padding: 0 30px 0 30px;
    }
    .sec-block-beta-0 .right-side-content .form-bg {
        margin-bottom: 50px;
    }
    .sec-block-beta-0.margin-btm {
        margin: 100px auto 0px auto;
    }
    .pic_env.five.columns {
        /* width: 39.3333333333%; */
        margin-left: 0;
    }
    .unmuteBtn {
        display: none;
    }
    .main {
        flex-direction: column;
        margin: 0 auto 75px auto;
    }
    .hero_pos_studio {
        margin-top: 300px;
    }
    .hero_pos_tech {
        margin-top: 400px;
    }
    .topnav {
        display: block;
    }
    .mainmenu {
        display: none;
    }
    .center-form {
        position: absolute;
    }
    iframe.hs-form-iframe {
        width: 100% !important;
    }
    .sec-block-0 .left-side-content {
        padding: 0 30px 0 30px;
        /* width: 85%; */
    }
    .sec-block-0 .right-side-content {
        padding: 50px 50px 125px 50px;
    }
    .lp.six.columns {
        margin-left: 0;
        margin-bottom: 4%;
    }
    .sec-block-1 .left-side-content {
        padding: 0 30px 10px 30px;
        width: auto;
    }
    .sec-block-1 .right-side-content {
        padding: 0 30px 10px 30px;
    }
    .sec-block-2 .left-side-content {
        padding: 0 30px 10px 30px;
    }
    .sec-block-2 .right-side-content {
        padding: 0 30px 10px 30px;
    }
    .hero-tech {
        min-height: 500px;
        /* overflow: hidden; */
    }
    .hero-vs {
        min-height: 500px;
        /* overflow: hidden; */
    }
    .latency .left-side-content {
        padding: 0 30px 0 30px;
    }
    .font-title {
        font-size: 2.75rem;
    }
    #myVideo {
        transform: matrix(1, 0, 0, 1, 810, 0);
        display: none;
        /* border-bottom: 5px solid #f21b1b; */
    }
    .bottom-index {
        min-height: 500px;
        /* overflow: hidden; */
    }
    .main.reverse {
        flex-direction: column-reverse;
    }
    .right-side-content {
        padding: 0 30px 0 30px;
    }
    .column,
    .columns .float_r {
        margin: 0 0 4% 0;
        /* padding-left: 4%; */
    }
    .left-side-content {
        padding: 0 30px 0 30px;
    }
    .left-side-content.hero-part {
        padding: 0 30px 0 30px;
        flex-direction: column;
        display: flex;
        width: 100%;
        /* margin-top: 50px; */
    }
    .right-side-content.hero-part {
        padding: 0 30px 0 30px;
        flex-direction: column;
        display: flex;
        width: 100%;
        margin-top: 30px;
    }
    .right-side-content.right-image-studio {
        padding: 0 30px 0 30px;
    }
    .right-side-content.left-image-studio {
        padding: 0 30px 0 30px;
    }
    .left-side-content.txt-blk-bg {
        padding: 40px 0px 40px 0px;
        background-color: #46667A;
        min-height: 300px;
        transform: none;
        margin: 0 50px;
    }
    /* background-color: #583240; */
    .right-side-content.txt-blk-bg {
        padding: 40px 0px 40px 0px;
        background-color: #46667A;
        min-height: 300px;
        transform: none;
        margin: 0 50px;
    }
    #fname {
        width: 100%;
    }
    #lname {
        width: 100%;
    }
    .padding-panel-video {
        padding: 15% 3% 15% 3%;
    }
    .form-bg {
        padding: 30px 30px 120px 30px;
        /* background-color: #e6eae0; */
        max-height: 330px;
        margin-right: 0px;
        /* border: 1px solid #dbddd8; */
        margin-bottom: 30px;
    }
    .form-bg2 {
        padding: 50px;
        background-color: #e6eae0;
        max-height: 300px;
        margin-right: 0px;
        /* margin-bottom:100px; */
        border: 1px solid #dbddd8;
    }
    .latency .container {
        max-width: 1200px;
        padding: 50px 30px;
    }
    .poster-img {
        display: block;
    }
    .hero h2 {
        font-size: 2rem;
        padding: 0 30px;
    }
    .left-side-content.offer {
        width: auto;
        margin-top: 58px;
        background-color: #46667A;
        color: #FAFBFB;
        ;
        padding: 40px 40px 30px 40px;
        height: auto;
        margin: 30px;
    }
    .imgs.six.columns {
        margin: 0 8.5%;
        width: 80%;
    }
    .model-tint2,
    .model-tint {
        padding: 10% 0;
    }
    .prod-img {
        height: auto;
        float: left;
        margin: 20px;
    }
    .amazon-btn {
        width: 120px;
        margin: 5px auto;
    }
    .hero-title-txt {
        margin: 0px 0 30px 0;
        text-align: left;
    }
    .video-container-hero {
        margin: 0 0 30px 0;
    }
    .prod-desc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: auto;
        float: left;
        padding-top: 20px;
    }
    .avail-now-txt {
        font-weight: 600;
        margin: 0 20px;
    }
    .hero_pos {
        margin-top: -140px;
    }
}

@media (min-width: 375px) {

    #ew-info{
        width: 80%;
        right:10%;
    }
    
    .center_cont_02 {
        padding: 3% 15% 10% 15%;
    }
    .pagination a {
        padding: 8px 16px;
    }
    .col-cat {
        height: 1100px;
    }
    .sub {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 320px;
        margin: 25px 30px;
        height: auto;
        /* opacity: .5; */
        background-color: #46667A;
        border-radius: 10px;
        text-align: center;
        color: #FAFBFB;
    }
    .sub_title {
        flex-wrap: wrap;
        padding: 27px 0 20px 30px;
        width: 45%;
        height: auto;
        font-size: 20px;
        text-align: left;
        margin-right: x;
    }
    .Non-Profit {
        flex-wrap: wrap;
        padding: 33px 0 10px 10px;
        width: 25%;
        height: auto;
        text-align: left;
        font-size: 14px;
    }
    .checkbox {
        flex-wrap: wrap;
        padding: 27px 20px 10px 0px;
        width: 26px;
        height: 25px;
    }
    .subPrice {
        padding: 0 10px 0 30px;
        width: 100%;
        height: auto;
        font-size: 30px;
        text-align: left;
    }
    .mus-hours {
        padding: 0 10px 20px 30px;
        width: 60%;
        height: auto;
        font-size: 12px;
        text-align: left;
    }
    .addPrice {
        padding: 0 10px 0 30px;
        width: 100%;
        height: auto;
        font-size: 30px;
        text-align: left;
    }
    .mus-hours-full1 {
        padding: 0 10px 0 30px;
        width: 100%;
        height: auto;
        font-size: 12px;
        text-align: left;
    }
    .mus-hours-full2 {
        padding: 0 10px 30px 30px;
        width: 100%;
        height: auto;
        font-size: 12px;
        text-align: left;
    }
    .swiper-info {
        max-width: 60%;
        height: 100px;
        padding: 1% 3% 0 7%;
    }
}


/* Larger than phablet */

@media (min-width: 414px) {
    .text-title-lg {
        font-size: 18px;
        padding:0 5%;
    }

    .sub-text-top{
        font-size: 12px;
        
        padding:30px 5% 0 5%;
    }

    p.alex-txt{
        font-size: 14px;
        margin-bottom: 0.5rem;
        padding:0 10%;
    }

    .alex-btn{
       
        margin-top: 5%;
    }

    #ew-info{
        width: 70%;
        right:15%;
    }
    .center_cont_01{
        align-self: center; 
        padding: 10% 15% 5% 15%;
    }
    .center_cont_02 {
        padding: 0 15% 10% 15%;
    }
    .pagination a {
        padding: 8px 16px;
    }
    .left-image-cont3 {
        padding: 6vh 15%;
    }
    .right-image-cont3 {
        width: 125%;
        left: -5%;
    }
    #myVideo {
        transform: matrix(1, 0, 0, 1, 800, 0);
        display: none;
    }
    .news-container {
        width: 354px;
        height: 365px;
    }
    .news-logo {
        padding: 20px 0 5px 30px;
    }
    .news-headline {
        font-size: 16px;
        padding: 0 30px 20px 30px;
        font-weight: 600;
        color: #0f0d0d;
        line-height: 24px;
    }
    .news-date {
        padding: 45px 30px 0 30px;
        width: 150px;
        height: auto;
        float: right;
        color: #575D60;
        font-size: auto;
        font-size: 14px;
        text-align: right;
    }
    .news-date-e {
        padding: 44px 30px 0 0;
        width: 130px;
        height: auto;
        float: right;
        color: #575D60;
        font-size: 12px;
        text-align: right;
    }
    .news-time-e {
        padding: 0 30px 5px 0;
        width: 130px;
        height: auto;
        float: right;
        color: #575D60;
        font-size: 12px;
        text-align: right;
    }
    .news-image {
        padding: 0px 30px 0 30px;
    }
}

@media (min-width: 425px) {
    .sub-text-top{
        font-size: 12px;
        padding:50px 10% 0 10%;
    }

    .news-logo {
        padding: 20px 0 5px 35px;
    }
    .form-bg {
        padding: 30px 0px 120px 30px;
        /* background-color: #e6eae0; */
        max-height: 330px;
        margin-right: 0px;
        /* border: 1px solid #dbddd8; */
        /* max-width:350px; */
        margin: 0 auto 30px auto;
        transform: translate(auto, auto);
    }
    .prod-img {
        width: 175px;
        height: auto;
        float: left;
        margin: 20px 0 20px 20px;
    }
    .prod-img {
        height: auto;
        float: left;
        margin: 20px;
    }
    .hero-title-txt {
        margin: 0px 0 30px 0;
        text-align: left;
    }
    .video-container-hero {
        margin: 0 0 30px 0;
    }
    .avail-now-txt {
        font-weight: 600;
        margin: 0 15px;
    }
}

@media (min-width: 485px) {
    #ew-info{
        width: 70%;
    }
    .leftside_06 {
        width: 75%;
        padding: 12% 5%;
    }

    .leftside_03 {
        width: 75%;
        padding: 60px 5%;
    }
    .center_cont_01{
        align-self: center; 
        padding: 10% 15% 5% 15%;
    }
    .center_cont_02{
        padding: 2% 10% 5% 10%;
    }

    .swiper-cont-right {
        padding: 3% 6%;
    }
    .swiper-cont-left {
        padding: 4% 6% 2% 6%;
        font-size: 24px;
    }
    .swiper-cta {
        font-size: 14px;
        padding: 10px 25px;
        height: 20px;
        margin: 0 25px;
    }
    .swiper-logo {
        width: 175px;
        height: 75px;
        padding: 10px 5px 0 5px;
    }
    .swiper-info {
        font-size: 14px;
        height: 8%;
        max-width: 50%;
        padding: 3% 3% 0 3%;
    }
    .swiper-cont-top {
        padding: 0;
        margin: 0;
        height: 195px;
    }
    .swiper-cont-bottom {
        padding: 0;
        margin: 0;
        height: 96.27px;
        visibility: visible;
    }
}

@media (min-width: 550px) {
    
    .text-title-lg {
        font-size: 21px;
        padding:0 5%;
    }

    .sub-text-top{
        font-size: 14px;
        padding-top: 12%;
        padding:50px 0 0 0;
    }

    .alex-txt{
        font-size: 14px;
        margin-bottom: 0.5rem;
    }

    .alex-btn{
        
        margin-top: 2%;
    }

    #ew-info{
        width: 60%;
        right:20%;
    }

    #ew-bg img{
        margin-top:20%;
    } 
    .center_05 {
        width: 75%;
    }
   
    .center_cont_01 {
        padding: 10% 25% 5% 25%;
    }
    .left-image-cont3 {
        padding: 2vh 20%;
    }
    .center_cont_02{
        padding: 0 10% 5% 10%;
    }
    .right-image-cont3 {
        width: 100%;
        left: 0;
    }
    .hero-award {
        right: 5%;
    }
    .hero-award {
        bottom: 0;
        width: 175px;
    }
    .fineprint {
        width: 0px;
        margin: 25px 0;
    }
    .btn-cont {
        max-width: 200px;
    }
    .textcont50L {
        width: 50%;
        float: left;
    }
    .textcont50R {
        width: 50%;
        padding-top: 205px;
        float: right;
    }
    .Non-ProfitAll {
        float: left;
        margin-left: 10px;
    }
    .checkbox-all {
        float: left;
    }
    .prod-ad-1 {
        max-width: 250px;
        height: 175px;
        /* margin-top:10px;  */
        margin: 0 auto;
    }
    .prod-ad-2 {
        max-width: 260px;
        height: 175px;
        margin: 30px auto 0 auto;
    }
    .prod-ad-cont {
        width: 260px;
        padding: 0 0 0 30px;
    }
    .banner-bar {
        flex-direction: row;
    }
    .banner-h-size {
        height: auto;
        display: flex;
        justify-content: center;
    }
    .left-side-content.txt-blk-bg {
        padding: 40px 20px 40px 20px;
    }
    .right-side-content.txt-blk-bg {
        padding: 40px 20px 40px 20px;
    }
    .imgs.six.columns {
        margin: auto;
        margin-left: 4%;
        width: 42%;
    }
    .hero h2 {
        font-size: 2rem;
        padding: 0 30px;
    }
    .hero_pos_studio {
        margin-top: 350px;
    }
    .hero_pos_tech {
        margin-top: 400px;
    }
    .font-title {
        font-size: 4rem;
    }
    .poster-img {
        display: none;
    }
    #myVideo {
        transform: matrix(1, 0, 0, 1, 800, 0);
        display: block;
    }
    .unmuteBtn {
        display: block;
    }
    .sec-block-0 .right-side-content {
        padding: 46px 72px 100px 72px;
    }
    .pic_env.six.columns {
        width: 100%;
    }
    .pic_env.seven.columns {
        width: 100%;
    }
    .pic_env.five.columns {
        width: 100%;
    }
    .orders-20 {
        width: 100%;
        margin: 30px auto 0 15px;
        transform: translate(0px, 0px);
    }
}

@media (min-width: 650px) {

    .text-title-lg {
        font-size: 21px;
        padding:0 5%;
    }

    .sub-text-top{
        font-size: 14px;
        padding-top: 20px;
        padding:50px 0 0 0;
    }


    p.alex-txt{
        font-size: 14px;
        margin-bottom: 0.5rem;
    }

    .alex-btn{
   
        margin-top: 2%;
    }

    #ew-info{
        width: 50%;
        right:25%;
    }

    .center_05 {
        width: 60%;
    }
    .center_cont_01 {
        padding: 10% 10% 5% 10%;
    }
    .studio-text {
        max-width: 55%;
    }
    .left-image-cont3 {
        padding: 6vh 25%;
    }
    .right-image-cont3 {
        width: 100%;
        left: 0;
    }
    .left_cont_04 {
        display: flex; 
        flex-direction: row-reverse; 
        flex-wrap: wrap;
    }
    .right_cont_04 {
        display: flex; 
        flex-direction: row; 
        flex-wrap: wrap;
    }
    .center_cont_01{
        align-self: center; 
        padding: 10% 15% 5% 15%;
    }
    .center_cont_02{
        color:#0f0d0d; 
        font-size: 18px; 
        padding: 2% 5% 10% 5%;
    }
}

@media (min-width: 715px) {
    .introduction-vs {
        height: auto;
    }
    /* .center_cont_02 {
        padding: 8% 5% 12% 5%;
    } */
    .left-image-cont3 {
        padding: 8vh 30%;
    }
    .orders-20-l {
        margin-top: 20px;
    }
    .amazon_btn_vs {
        padding-top: 0;
    }
    .textcont50R {
        padding-top: 132px;
    }
    .studio {
        margin: 15px;
    }
}

@media (min-width: 750px) {

    .title_03{
        font-weight: 600; 
        margin:1% 0 0 0; 
        font-size: 2.0rem;
    }

    .text-title-lg {
        font-size: 30px;
    }

    .sub-text-top{
        font-size: 16px;
        padding-top: 50px;
    }

    .alex-btn{
        
        margin-top: 0.75%;
    }
    
    .alex-btn:hover{
        background-color: #FAFBFB;
        color:#0f0d0d;
        cursor: pointer;
    }
    
    p.alex-txt{
        font-size: 16px;
        margin-bottom: 0.5rem;
    }

    .jtvs-banner-right{
        align-self: center;
        display: flex;
        padding: 0 0 0 5%;
        flex-direction: column;
    }

    .jtvs-banner-left {
        height: 100%;
        padding: 0 5% 0 0;
        align-self: center;
        display: flex;
    }

    .jtvs-banner-left img {
        width: auto;
    }

    .jtvs-top-cont{
        display: flex;
        flex-direction: row;
        padding: 5% 5% 1% 5%;
    }

    .jtvs-banner-bottom-tablet {
        flex-direction: row;
        padding: 1% 0 5% 0;
    }

    .jtvs-button-cont-left {
        padding-bottom:0;
    }

    .jtvs-button-cont-right {
        padding-bottom: 0;
    }

    #ew-bg{
        width: 100%;
        left: 0%;
        top: 100%;
        opacity: .75;
        margin: 0;
        position: absolute;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    #ew-info{
        width: 50%;
        right: 5%;
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    #ew-bg img{
        margin-top:-20%;
        margin-left: -30%;
    } 
    
   

    .tagline-06{
        font-size:18px;
    }
    .slide_container_06{
        flex-direction: row; 
        flex-wrap: nowrap; 
    }
    .leftside_03{
        width: 40%;
        padding: 5% 0 5% 12%;
        height: auto;
        align-self: center;

    }
    .rightside_03{
        width: 35%;
        padding: 5% 0 5% 7%;
        height: auto;
        align-self: center;
        display: block;
    }

    .leftside_06{
        width: 40%;
        padding: 5% 0 5% 7%;
        height: auto;
        align-self: center;

    }
    .rightside_06{
        width: 35%;
        padding: 5% 0 5% 12%;
        height: auto;
        align-self: center;
        display: block;
    }
    .leftside_05 {
        display: block;
        padding:3% 0 3% 3%;
    }
    
    .rightside_05 {
        display: block;
        padding:3% 3% 3% 0;
    }
    
    .center_05{
        width: 200%; 
    }
    .slide3_cont {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 340px;
        overflow: hidden;
    }
    .container_03 {
        width: 100%;
        position: relative;
        max-width: 1450px;
        height: 360px;
        /* flex-direction: row; */
        display: flex;
        margin: 5%;
    }
    .left-image-cont3 {
        align-self: center;
        top: 15%;
        left: 5%;
        width: 40%;
        padding: 0;
        margin: 0;
        position: absolute;
    }
    .right-image-cont3 {
        position: absolute;
        width: 90%;
        right: 0;
        left: auto;
        align-self: flex-end;
    }
    /* .swiper-cont {
        width: 75%;
        max-width: 1140px;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        padding: 0 50px;
        height: 260px;
    } */
    .swiper-cont-left {
        padding: 8% 3%;
        width: 100%;
        font-size: 30px;
    }
    .swiper-cont-right {
        padding: 6% 3%;
        width: 100%;
        align-self: center;
        font-size: 14px;
    }
    .studio-text {
        max-width: 65%;
    }
    .hero-award {
        bottom: 0;
        width: 200px;
    }
    .swiper-cta {
        font-size: 14px;
        padding: 10px 25px;
        height: 20px;
        margin: 26px 25px;
    }
    .swiper-logo {
        width: 175px;
        height: auto;
        padding: 5px;
    }
    .swiper-info {
        font-size: 15px;
        max-width: 39%;
        padding: 1.75% 3%;
    }
    .swiper-cont-top {
        padding: 0;
        margin: 0;
        height: 107.46px;
    }
    .swiper-cont-bottom {
        padding: 0;
        margin: 0;
        height: 192.54px;
    }
    .news-menu-item-cont#s0 {
        display: block;
    }
    .feed {
        max-width: 900px;
        left: 225px;
        margin: 15px;
    }
    .feed-cont {
        position: relative;
        left: 240px;
    }
    .news-menu {
        position: fixed;
        float: left;
        max-width: 240px;
        width: 240px;
        height: 100vh;
        margin-left: 0x;
        overflow: hidden;
        /* background-color: #0A6BA8; */
        bottom: 0;
        padding-top: 100vh;
    }
    .news-menu-item-cont {
        text-align: left;
        position: static;
        color: #fff;
        padding: 50px 0 0 30px;
        font-size: 18px;
        width: 100%;
        z-index: 100;
    }
    .arrow-left-select {
        visibility: hidden;
        float: left;
        display: block;
    }
    .arrow-left-select img {
        height: 8px;
        float: left;
        padding-top: 10px;
    }
    .news-menu-select {
        /* width: 100%; */
        width: auto;
        margin-left: 15px;
        float: left;
        border-bottom: 1px solid transparent;
        cursor: pointer;
    }
    .news-menu-select:hover {
        /* width: 100%; */
        margin-left: 15px;
        float: left;
        cursor: pointer;
        border-bottom: 1px solid #fff;
    }
    .textcont50R {
        padding-top: 101px;
    }
    .podcast {
        padding-right: 30px;
        margin: 0;
        /* transform: translate(0, -40%); */
    }
    .podcast iframe {
        width: 100%;
        background: transparent;
    }
    .sec-block-1 .left-side-content {
        padding: 0 30px 10px 30px;
        width: 225%;
    }
    .imgSize {
        width: 150px;
    }
    .introduction-vs {
        height: auto;
    }
    .sec-block-programs-0 .aside-ul {
        margin: 3% 5% 3% 5%;
    }
    .form-bg {
        padding: 30px 30px 150px 0px;
    }
    .prod-desc {
        width: 100%;
    }
    .form-bg {
        max-height: 270px;
        margin: 0 0 20px 0;
    }
    .prod-img {
        display: none;
    }
    .amazon-btn {
        width: 120px;
        margin-top: 5px;
        /* margin-left: 25px; */
    }
    .right-side-content.hero-part {
        transform: translate(0px, 30px);
        padding: 0 0 0 60px;
        flex-direction: column;
        display: flex;
        width: 40%;
    }
    .left-side-content.hero-part {
        transform: translate(0px, -75px);
        margin-top: 20px;
        padding: 0 0px 0 30px;
        flex-direction: column;
        display: flex;
        width: 75%;
    }
    .bottomIndexCont {
        /* height: 700px; */
        flex-wrap: nowrap;
        margin: 50px auto;
    }
    .fineprint.txtAlignR {
        text-align: right;
    }
    .fineprint.txtAlignL {
        text-align: left;
    }
    .title-line {
        width: 100%;
    }
    .model-graphic {
        width: 50%;
        margin: 30px auto;
    }
    .hero h2 {
        font-size: 3rem;
        padding: 0 30px;
    }
    .lp.six.columns {
        margin-bottom: 0;
        width: 46%;
    }
    .pic_env.six.columns {
        width: 48%;
    }
    .column,
    .columns .float_r {
        margin: 0 0 2.5rem 0;
        margin-left: 0;
    }
    .model-tint2,
    .model-tint {
        padding: 5%;
    }
    .left-side-content.ext-links-layout {
        width: 100%;
        padding: 0 30px 0 30px;
    }
    .sec-block-beta-0 .right-side-content .form-bg {
        margin-bottom: 0px;
    }
    .sec-block-beta-0.margin-btm {
        margin: 100px auto 30px auto
    }
    .sec-block-beta-0 .right-side-content {
        padding: 46px 20px 30px 20px;
        /* margin-top: 60px; */
    }
    .aside-block {
        margin: 50px 0 0 0;
    }
    .sec-block-0 .right-side-content {
        padding: 46px 72px 120px 72px;
        margin-top: 60px;
    }
    .sec-block-0 .left-side-content {
        padding: 0 30px 0px 30px;
    }
    .latency .container {
        max-width: 1200px;
        padding: 50px 30px;
    }
    .left-side-content.about-us {
        width: 54%;
    }
    .left-side-content.offer {
        width: 100%;
    }
    .right-side-content.offer {
        width: 56%;
        margin-top: 58px;
        padding: 40px;
        /* margin: 0px 30px; */
    }
    .right-side-content.form-bg {
        margin-left: 26px;
        /* max-height: 450px; */
        /* height: 28vh; */
    }
    .right-side-content.form-bg2 {
        margin-left: 60px;
        /* max-height: 450px; */
        /* height: 28vh; */
    }
    .left-marg {
        margin-left: 20px;
    }
    .marg-top {
        margin-top: 4.4%;
    }
    .form_layout {
        width: 350px;
    }
    input[type="email"],
    input[type="number"],
    input[type="search"],
    input[type="text"],
    input[type="tel"],
    input[type="url"],
    input[type="password"],
    textarea,
    select {
        width: 100%;
    }
    .font-title {
        font-size: 5rem;
    }
    .font-title-home {
        font-size: 6.75rem;
    }
    .main {
        flex-direction: row;
    }
    .padding-panel-video {
        padding: 10% 3% 8% 3%;
    }
    .hero_pos {
        margin-top: -135px;
    }
    .hero_pos_studio {
        margin-top: 550px;
    }
    .hero_pos_tech {
        margin-top: 550px;
    }
    .bottom-index {
        height: 0;
        min-height: 1000px;
        /* overflow: hidden; */
    }
    .hero-tech {
        height: 0;
        min-height: 700px;
        /* overflow: hidden; */
    }
    .hero-vs {
        height: 0;
        min-height: 700px;
        /* overflow: hidden; */
    }
    #myVideo {
        transform: none !important;
    }
    .left-image img {
        border: 20px solid #0D2233;
        position: relative;
        left: 0px;
    }
    .right-image img {
        border: 20px solid #0D2233;
        position: relative;
        /* right: 30px; */
        width: 300px;
    }
    .form-bg {
        transform: translate(0, -20%);
        /* max-width:340px; */
        float: right;
    }
    .form-bg2 {
        margin-right: 20px;
    }
    .pic_env.seven.columns {
        width: 56.6666666667%;
    }
    .pic_env.five.columns {
        width: 39.3333333333%;
        margin-left: 0;
    }
    .ad-cont-1140 {
        width: 100%;
        height: auto;
        display: block;
    }
    .ad-cont-800 {
        width: 100%;
        height: auto;
        display: none;
    }
}

@media (min-width: 768px) {
    .tableCatHideShow {
        display: block;
    }
    .left-side-content.priceTb {
        width: 100%;
    }
    .center_cont_01 {
        padding: 10% 10% 0 10%;
    }

    #ew-info{
        width: 45%;
    }

   

}

@media (min-width: 895px) {
    

    #ew-bg{
        width: 100%;
        left: 0%;
        top: 100%;
        margin: 0;
        position: absolute;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    #ew-info{
        width: 40%;
    }

    .left-image-cont3 {
        top: 15%;
        left: 5%;
        width: 40%;
    }
    .right-image-cont3 {
        width: 80%;
        right: 0;
    }
    .form-bg {
        transform: translate(0, -10%);
        /* max-width:340px; */
        float: right;
    }
    .banner-ad-cont {
        flex-direction: row;
    }
    .banner-logo {
        padding: 0 0 0 4%;
    }
    .banner-txt {
        padding: 3% 4%;
    }
    .banner-button {
        padding: 1% 4% 0 0;
    }
}

@media (min-width: 950px) {
    .text-title-lg {
        font-size: 40px;
    }

    .sub-text-top{
        font-size: 18px;
        padding-top: 30px;
    }

    p.alex-txt{
        font-size: 18px;
        margin-bottom: 0.5rem;
    }
    #ew-bg img{
        margin-top:0%;
    } 
    
    .swiper-cta {
        font-size: 14px;
        padding: 10px 25px;
        height: 20px;
        margin: 26px 25px;
    }
    .swiper-logo {
        width: 200px;
        height: auto;
        padding: 5px;
    }
    .swiper-info {
        font-size: 16px;
        max-width: 46%;
        padding: 1.75% 5%;
    }
    .swiper-cont-top {
        padding: 0;
        margin: 0;
        height: 107.46px;
    }
    .swiper-cont-bottom {
        padding: 0;
        margin: 0;
        height: 192.54px;
    }
    .studio-block-right.main {
        flex-direction: row;
        margin: 0 auto 100px auto;
    }
    .studio-block-left.main {
        flex-direction: row;
        margin: 0 auto 100px auto;
    }
    .left-side-content.txt-blk-bg {
        padding: 20px;
        transform: translate(30px, 0);
        margin: 0;
    }
    .right-side-content.txt-blk-bg {
        padding: 20px;
        transform: translate(-30px, 0);
        margin: 0;
    }
    .right-image-studio img {
        border: 1px solid #CFCFCF;
        position: relative;
        /* right: 30px; */
        width: 500px;
        -webkit-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.44);
        -moz-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.44);
        box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.44);
    }
    .left-image-studio img {
        border: 1px solid #CFCFCF;
        position: relative;
        left: 0px;
        width: 500px;
        -webkit-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.44);
        -moz-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.44);
        box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.44);
    }
    .bottom-index {
        min-height: 1000px;
    }
}

@media (min-width: 985px) {
    #ew-info{
        width: 40%;
    }
    .podcast-txt {
        transform: translate(0, 0);
    }
    .podcast {
        transform: translate(0, 0);
    }
    .form-bg {
        padding: 30px 30px 140px 0px;
    }
    .orders-20 {
        margin: 10px auto 0 15px;
        transform: translate(0, -35%);
    }
}

@media (min-width: 1000px) {
   
    .title_03{
        font-size: 2.4rem;
    }

    #ew-bg{
        width: 100%;
        left: 0%;
        top: 100%;
        margin: 0;
        position: absolute;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    #ew-info{
        width: 35%;
        margin: 0;
        right: 5%;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .center_05{
        width: 150%; 
    }

    .left-image-cont3 {
        width: 38%;
    }
    .right-image-cont3 {
        width: 70%;
        right: 0;
    }
    .internal-cont {
        padding: 0;
    }
    .form-bg {
        transform: translate(0, 0);
    }
    .banner-bar-s {
        /* align-items: flex-start; */
        flex-wrap: nowrap;
        width: 36%;
        float: left;
        text-align: right;
        padding: 0 30px;
    }
    .avail-now-txt {
        margin: 0 5px;
    }
    .prod-ad-1 {
        float: left;
        max-width: 165px;
        height: 165px;
        /* margin-top:10px;  */
        margin: 0 auto;
    }
    .prod-ad-2 {
        float: right;
        max-width: 165px;
        height: 165px;
        margin: 0 auto;
    }
    .bottom-index {
        min-height: 800px;
    }
    .right-side-content.hero-part {
        margin-top: 0;
        transform: translate(0px, -60px);
    }
    .prod-desc {
        padding-top: 10px;
    }
    .prod-ad-cont {
        width: 360px;
        padding: 0 0 0 30px;
    }
    .col-cat {
        max-height: 1075px;
    }
    #aff1.aff {
        display: block;
    }
    .sec-block-0 .right-side-content {
        padding: 46px 62px 120px 62px;
    }
    .sec-block-beta-0 .right-side-content {
        padding: 0px 20px 10px 20px;
    }
    .hero_pos {
        margin-top: -135px;
    }
    /* .hero_pos_studio {
margin-top: 290px;
} */
    .font-title {
        font-size: 5.25rem;
    }
    .font-title-home {
        font-size: 6.75rem;
    }
    .form-bg {
        margin-right: 0;
        transform: translate(0, 0);
    }
    .form-bg2 {
        margin-right: 20px;
    }
    .peer2peer.six.columns {
        margin-top: 5%;
    }
    .client-server.six.columns {
        margin-top: 5%;
    }
    .hero h2 {
        font-size: 3rem;
        padding: 0 30px;
    }
}

@media (min-width: 1111px) {
    
    
    

    .swiper-cta {
        font-size: 14px;
        padding: 10px 25px;
        height: 20px;
        margin: 26px 25px;
    }
    .swiper-logo {
        width: 200px;
        height: auto;
        padding: 5px;
    }
    .swiper-info {
        font-size: 18px;
        max-width: 46%;
        padding: 1.75% 5%;
    }
    .swiper-cont-top {
        padding: 0;
        margin: 0;
        height: 107.46px;
    }
    .swiper-cont-bottom {
        padding: 0;
        margin: 0;
        height: 192.54px;
    }
    .mainmenu {
        display: block;
        position: relative;
        /* overflow: hidden; */
        width: 100%;
        height: 77px;
    }
    .topnav {
        display: none;
    }
    #myLinks a {
        font-weight: 300;
        color: #fff;
        float: right;
        margin: 22px 24px;
        text-decoration: none;
        font-size: 18px;
        text-align: center;
        cursor: pointer;
        display: block;
    }
    #myLinks a:hover {
        color: #FAFBFB;
        cursor: pointer;
        border-bottom: 1px solid #FAFBFB;
    }
    #myLinks a#media {
        height: 75px;
        cursor: pointer;
    }
    #myLinks a#media:hover {
        cursor: pointer;
    }
    #myLinks a#help {
        height: 75px;
        cursor: pointer;
    }
    #myLinks a#media:hover {
        cursor: pointer;
    }

    #myLinks a#foundation {
        height: 75px;
        cursor: pointer;
    }
    #myLinks a#foundation:hover {
        cursor: pointer;
    }
}


/* Larger than Desktop HD */

@media (min-width: 1200px) {

    .text-title-lg {
        font-size: 48px;
    }

    .sub-text-top{
        font-size: 21px;
        padding-top: 20px;
    }


    
    #ew-info{

        right: 0;

    }
    .center_cont_02 {
    
        padding: 8% 5% 10% 5%;
    }
    .center_05{
        width: 100%; 
    }

    .left-image-cont3 {
        position: static;
        align-self: center;
        width: 28%;
    }
    .right-image-cont3 {
        width: 70%;
        right: 0;
    }
    .feed {
        left: 255px;
        margin: 15px;
    }
    .internal-cont {
        padding: 0 30px;
    }
    .left-side-content.clear-settings {
        padding: 0 30px 0 30px;
    }
    .right-side-content.offer {
        height: 600px;
    }
    .prod-img {
        display: block;
        width: 175px;
        height: auto;
        float: left;
        margin: 20px 0 20px 20px;
    }
    .amazon-btn {
        width: 120px;
        margin-left: auto;
        margin-top: 10px;
    }
    .form-bg {
        margin-right: 0px;
        transform: translate(0, 5%);
    }
    .form-bg2 {
        margin-right: 0px;
    }

    .jtvs-top-cont{
        display: flex;
        flex-direction: row;
    }
    .jtvs-banner-desktop{
        display: flex;
    }

    .jtvs-banner-tablet{
        display: none;
    }
    .jtvs-btn-bottom{
        align-self: center;
    }
    .jtvs-button-cont-left{
        width: 100%;
        display: flex;
        flex-direction: column;
        
    }
    .jtvs-button-cont-right{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .jtvs-banner-bottom{
        display: flex;
        flex-direction: row;
        align-self: center;
        width: 100%;
    }
    .jtvs-banner-top{
        height: 40%;
    }

    .jtvs-btn-top{
        color: #FAFBFB;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        padding-bottom: 4%;
    }

    .jtvs-banner-desktop{
        background-color: #0f0d0d;
        width: 100%;
        height:200px;
        flex-direction: row;
    }
    .jtvs-banner-left{
        height: 200px;
        padding: 0 0 0 5%;
        align-self: center;
        display: flex;
    }
    .jtvs-banner-right{
        width: 80%;
        height: 200px;      
        align-self: center;
        display: flex;
        padding-right: 5%;
        flex-direction: column;
    }
    .banner-top-txt{
        color: #FAFBFB;
        font-size: 21px;
        font-weight: 500;
        text-align: center;
        display: flex;
        padding: 2.5% 0 3.5% 3%;
        line-height: 28px;
    }
}