/* Mobile first queries */





/* Larger than mobile */
@media (min-width: 0px) {

    .fineprint.txtAlignR{
        text-align: center;
    }

    .fineprint.txtAlignL{
        text-align: center;
    }

    .studio-block-right.main{
        flex-direction: column;
    }

    .title-line{
        width: auto;
    }

    .left-image-studio img {
        border: 1px solid #CFCFCF;
        position: relative;
        left: 0px;
        width:100%;
        -webkit-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.44);
        -moz-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.44);
        box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.44);

    }

    .right-image-studio img {
        border: 1px solid #CFCFCF;
        position: relative;
        /* right: 30px; */
        width:100%;
        -webkit-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.44);
        -moz-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.44);
        box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.44);

    }

    .studio-block-left.main{
        flex-direction: column;
    }
    #aff1.aff{
        display: none;
    }

    #aff2.aff{
        display: none;   
    }

    .form_layout{
        width: 100%;
    }

    .model-graphic{
        position: relative;
        width: 100%;
        margin: 0 auto 30px 0;
        /* margin-bottom: 80px; */
    }

    .left-side-content.ext-links-layout{
        width:auto; 
        padding:0 30px 0 30px;
    }

    
    .sec-block-beta-0 .right-side-content .form-bg{
        margin-bottom:50px;
    }
    
    .sec-block-beta-0.margin-btm{
        margin: 100px auto 0px auto;
    }
    
    .pic_env.five.columns {
        /* width: 39.3333333333%; */
        margin-left:0;
   }

    .unmuteBtn{
        display:none;
    }
    
    .main {
        flex-direction: column;
        margin: 0 auto 75px auto;
    }

    .hero_pos {
        margin-top: 170px;
    }

    .hero_pos_studio{
        margin-top: 300px;
    }

    .hero_pos_tech{
        margin-top:400px;
    }

    .topnav {
        display: block;
    }

    .mainmenu {
        display: none;
    }

    .center-form{
        position: absolute;
        
    }

    iframe.hs-form-iframe {
        width: 100% !important;
    }
    

    .sec-block-0 .left-side-content{
        padding: 0 30px 0 30px;
    }

    .sec-block-0 .right-side-content {
        padding: 50px 50px 125px 50px;
    }

    .lp.six.columns{
        margin-left:0;
        margin-bottom: 4%;
    }

    .sec-block-1 .left-side-content{
        padding: 0 30px 10px 30px;
    }

    .sec-block-1 .right-side-content{
        padding: 0 30px 10px 30px;
    }

    .sec-block-2 .left-side-content{
        padding: 0 30px 10px 30px;
    }

    .sec-block-2 .right-side-content{
        padding: 0 30px 10px 30px;
    }

    .latency .left-side-content{
        padding: 0 30px 0 30px;
    }

    .font-title {
        font-size: 2.75rem;
    }

    #myVideo {
        transform: matrix(1, 0, 0, 1,810,0);
        display: none;
        /* border-bottom: 5px solid #f21b1b; */
    }
    .hero{
        min-height: 500px;
        overflow: hidden;
    }

    .main.reverse{
        flex-direction: column-reverse;
    }

    .right-side-content {
        padding: 0 30px 0 30px;
        
    }

    .column, .columns .float_r {
        margin: 0 0 4% 0;
        /* padding-left: 4%; */
    }

    .left-side-content{
        padding: 0 30px 0 30px;
    }

    .right-side-content.right-image-studio{
        padding: 0 30px 0 30px;
    }

    .right-side-content.left-image-studio{
        padding: 0 30px 0 30px;
    }

    .left-side-content.txt-blk-bg{
        padding:40px 0px 40px 0px;
        background-color: #46667A;
        min-height: 300px;
        transform: none;
        margin: 0 60px;
    }

    /* background-color: #583240; */

    .right-side-content.txt-blk-bg{
        padding: 40px 0px 40px 0px;
        background-color: #46667A;
        min-height: 300px;
        transform: none;
        margin: 0 60px;
    }

    #fname{
        width:100%;
    }
    
    #lname{
        width: 100%;
    }
    
    .padding-panel-video{
        padding: 15% 3% 15% 3%;
    }

    .form-bg{
        padding: 50px;
        background-color:#e6eae0;
        max-height: 330px;
        margin-right: 0px;
        border: 1px solid #dbddd8;
    }

    .form-bg2{
        padding: 50px;
        background-color:#e6eae0;
        max-height: 300px;
        margin-right: 0px;
        /* margin-bottom:100px; */
        border: 1px solid #dbddd8;
    }
    
    .latency .container{
        max-width: 1200px;
        padding: 50px 30px;
    }

    .poster-img{
        display:block;
    }

    .hero h2 {
        font-size: 2rem;
        padding:0 30px;
    }

    .right-side-content.offer{
        width: auto;
        margin-top: 58px;
        background-color: #46667A;
        color:#FAFBFB;;
        padding: 40px;
        height: auto;
        margin: 40px 40px 75px 40px;
    }


    .imgs.six.columns{
        margin: 0 8.5%;
        width:80%;
    }

    .model-tint2, .model-tint{
        padding:10% 0;
    }


}


/* Larger than phablet */

@media (min-width: 414px) {
    #myVideo {
        transform: matrix(1, 0, 0, 1,800,0);
        display: none;
    }

    

}


@media (min-width: 550px) {
    

    .left-side-content.txt-blk-bg{
        padding:40px 20px 40px 20px;

    }

    .right-side-content.txt-blk-bg{
        padding: 40px 20px 40px 20px;
    }


    .imgs.six.columns{
        margin: auto;
        margin-left: 4%;
        width: 42%;
    }

    .hero h2 {
        font-size: 2rem;
        padding:0 30px;
    }


    .hero_pos {
        margin-top: 205px;
    }

    .hero_pos_studio{
        margin-top: 350px;
    }

    .hero_pos_tech{
        margin-top:400px;
    }

    .font-title {
        font-size: 4rem;
    }

    .poster-img{
        display:none;
    }

    #myVideo {
        transform: matrix(1, 0, 0, 1,800,0);
        display: block;
    }
    .unmuteBtn{
        display:block;
    }

    .sec-block-0 .right-side-content{
        padding: 46px 72px 100px 72px;
    }

    .pic_env.six.columns{
        width:100%;
    }

    .pic_env.seven.columns {
        width: 100%;
    }

    .pic_env.five.columns {
         width: 100%;
    }
}

@media (min-width: 750px) {
    .fineprint.txtAlignR{
        text-align: right;
    }

    .fineprint.txtAlignL{
        text-align: left;
    }

    .title-line{
        width: 100%;
    }
    
    .model-graphic{
        width: 50%;
        margin: 30px auto;
    }

    .hero h2 {
        font-size: 3rem;
        padding:0 30px;
    }

    .lp.six.columns{
        margin-bottom: 0;
        width:46%;
    }

    .pic_env.six.columns{
        width:48%;
    }

    .column, .columns .float_r{
        margin: 0 0 2.5rem 0;
        margin-left:0;
       
    }

    .model-tint2, .model-tint{
        padding:5%;
    }


    .left-side-content.ext-links-layout{
        width:100%; 
        padding:0 30px 0 30px;
    }

    .sec-block-beta-0 .right-side-content .form-bg {
        margin-bottom: 0px;
    }

    .sec-block-beta-0.margin-btm{
        margin: 100px auto 30px auto
    }

    .sec-block-beta-0 .right-side-content {
        padding: 46px 20px 30px 20px;
        /* margin-top: 60px; */
    }
    .aside-block{
        margin:50px 0 0 0;
    }
    .sec-block-0 .right-side-content{
        padding: 46px 72px 120px 72px;
        margin-top: 60px;
    }
    
    .sec-block-0 .left-side-content{
        padding: 0 30px 0px 30px;
    }
    
    .latency .container{
        max-width: 1200px;
        padding: 50px 30px;
    }

    .left-side-content.about-us{
        width:54%;
    }

    .left-side-content.offer{
        width: 100%;
    }

    .right-side-content.offer{
        width: 56%;
        margin-top: 58px;
        padding: 40px;
        /* margin: 0px 30px; */
    }

    .right-side-content.form-bg{
        margin-left: 26px;
        /* max-height: 450px; */
        /* height: 28vh; */
    }

    .right-side-content.form-bg2{
        margin-left: 60px;
        /* max-height: 450px; */
        /* height: 28vh; */
    }

    .left-marg{
        margin-left: 20px;
    }

    .marg-top {
        margin-top: 4.4%;
    }

    .form_layout{
        width: 350px;
    }

    input[type="email"],
    input[type="number"], 
    input[type="search"], 
    input[type="text"], 
    input[type="tel"], 
    input[type="url"], 
    input[type="password"], 
    textarea, select {
        width: 100%;

    }

    .hero{
        min-height: 700px;
    }
    .font-title {
        font-size: 5rem;
    }

    .main {
        flex-direction: row;
    }

    .padding-panel-video {
        padding: 10% 3% 8% 3%;
    }

    .hero_pos {
        margin-top: 300px;
    }

    .hero_pos_studio{
        margin-top: 550px;
    }

    .hero_pos_tech{
        margin-top: 550px;
    }


    
    .hero {
        height: 0;
        min-height: 700px;
        overflow: hidden;
    }

    #myVideo {
        transform: none !important;
        
    }

    
    /* .mainmenu {
        display: block;
    } */

    /* .main.reverse{
        flex-direction: row;
    } */

    .left-image img {
        border: 20px solid #0D2233;
        position: relative;
        left: 0px;
    }

    .right-image img {
        border: 20px solid #0D2233;
        position: relative;
        /* right: 30px; */
        width:300px;
    }

    


    .form-bg{
        margin-right: 20px;
    }
    
    .form-bg2{
        margin-right: 20px;
    }

    .pic_env.seven.columns {
        width: 56.6666666667%;
    }

    .pic_env.five.columns {
         width: 39.3333333333%;
         margin-left:0;
    }
    
}

@media (min-width: 950px){
    .studio-block-right.main{
        flex-direction: row;
        margin: 0 auto 100px auto;
    }

    .studio-block-left.main{
        flex-direction: row;
        margin: 0 auto 100px auto;
    }

    .left-side-content.txt-blk-bg{
        padding: 20px;
        transform: translate(30px, 0);
        margin:0;
    }

    .right-side-content.txt-blk-bg{
        padding: 20px;
        transform: translate(-30px, 0);
        margin:0;
    }

    .right-image-studio img {
        border: 1px solid #CFCFCF;
        position: relative;
        /* right: 30px; */
        width:500px;
        -webkit-box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.44);
        -moz-box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.44);
        box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.44);
    }

    .left-image-studio img {
        border: 1px solid #CFCFCF;
        position: relative;
        left: 0px;
        width:500px;
        -webkit-box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.44);
        -moz-box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.44);
        box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.44);
    }


}

@media (min-width: 985px) {
    .mainmenu {
        display: block;
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 77px;
    }

    .topnav {
        display: none;
    }

    #myLinks a {
        font-weight: 300;
        color: #fff;
        float: right;
        margin: 22px 24px;
        text-decoration: none;
        font-size: 18px;
        text-align: center;
        cursor: pointer;
        display: block;
    }
    
    #myLinks a:hover {
    
        color: #FAFBFB;
        cursor: pointer;
        border-bottom: 1px solid #FAFBFB;
    }


}


@media (min-width: 1000px){
    
    #aff1.aff{
        display: block;
    }

    #aff2.aff{
        display: block;
    }

    .sec-block-0 .right-side-content{
        padding: 46px 62px 120px 62px;
    }

    .sec-block-beta-0 .right-side-content {
        padding: 0px 20px 10px 20px;
    }

    .hero_pos {
        margin-top: 290px;
    }

    /* .hero_pos_studio {
        margin-top: 290px;
    } */

    .font-title {
        font-size: 5.5rem;
    }

    .form-bg{
        margin-right: 20px;
    }
    
    .form-bg2{
        margin-right: 20px;
    }

    .peer2peer.six.columns{
        margin-top:5%;
    }

    .client-server.six.columns {
        margin-top: 5%;
    }

    .hero h2 {
        font-size: 3rem;
        padding:0 30px;
    }
}


/* Larger than Desktop HD */
@media (min-width: 1200px) {
    .right-side-content.offer{
        height: 600px;

    }
    .form-bg{
        margin-right: 0px;
    }

    .form-bg2{
        margin-right: 0px;
    }
}