body {
    background-color: #253E51;
    font-family: 'Roboto', sans-serif;
}

.container {
    /* position: relative; */
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
    padding: 0;
    /* background-color: #fff; */
}

.hero {
    position: absolute;
    width:100vw;
    height:85.3vw;
    max-height: 100vh;
    max-width: 1800px;
    overflow:hidden;

}

.hero img {
    width: 100%;
}

.logo {
    width: 175px;
    height: 53px;
}

.logo img {
    width: 100%;
}

.logo_mm {
    float: left;
    width: 175px;
    height: 53px;
    padding: 12px 16px;
}

.icon i {
    font-size: min(max(22px, 4vw), 18px);
    padding: 10px 6px;
}

.missionBox {
    position: absolute;
    background-color: black;
    width: 100%;

}

.txt_cont_1 {
    position: relative;
}
.clearfix {
    *zoom: 1;
}

.clearfix:after {
    clear: both;
}

/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 0px) {
    /* Style the navigation menu */

    .sec01{
        position: relative;
    }

    .sec02{
        float: left;
    }

    .hero {
        transform: translate(0px, 20px);
    }

    
    .mainmenu {
        display: none;
    }

    .topnav {
        z-index: 100;
        overflow: hidden;
        background-color: #253E51;
        display: block;
        position: relative;
    }

    /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav #myLinks {

        display: none;
    }

    /* Style navigation menu links */
    .topnav a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        font-size: 18px;
        text-align: center;
        display: block;
    }

    /* Style the hamburger menu */
    .topnav a.icon {
        background: #253E51;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    /* Add a grey background color on mouse-over */
    .topnav a:hover {
        background-color: #788E9E;
        color: black;
    }

    /* Style the active link (or home/logo) */
    .active {
        background-color: #788E9E;
        opacity: 0;
        color: white;
    }

    .txt_cont_1 {
        display: none;
    }

    .txt_cont_2 {
        display: block;
    }

    .button-main {
        z-index: 100;
        position: absolute;
        border: 1px solid #fff;
        color: #243E51;
        padding: 10px 20px;
        left: 0;
        right: 0;
        margin-top: 25%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 150px;
        font-size: calc(.9em + .75vmin);
    }

    .cta {
        color: #fff;
        z-index: 200;
    }

    .subTxt {
        font-weight: 300;
        font-size: calc(.8em + .75vmin);
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2%;
        text-align: center;
        color: #fff;
    }

    .titleTxt {
        font-weight: 300;
        font-size: calc(1.25em + 1.75vmin);
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
        text-align: center;
        color: #fff;
    }
}



/* Larger than phablet */
@media (min-width: 550px) {}




/* Larger than tablet */
@media (min-width: 750px) {

    .sec02{
        position: relative;
    } 
    .hero {
        transform: translate(0px, 0px);
    }

    .topnav {
        display: none;
    }

    .mainmenu {
        display: block;
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 75px;
    }

    #myLinks a {
        font-weight: 300;
        color: #243E51;
        float: right;
        margin: 22px 24px;
        text-decoration: none;
        font-size: 18px;
        text-align: center;
        display: block;
        cursor: pointer;
    }

    /* Add a grey background color on mouse-over */
    #myLinks a:hover {
        /* text-decoration: underline; */
        color: black;
        cursor: pointer;
        border-bottom: .5px solid black;
    }

    /* Style the active link (or home/logo) */
    .active {
        opacity: 0;
        color: white;
        cursor: pointer;
    }

    .txt_cont_2 {
        display: none;
    }

    .txt_cont_1 {
        display: block;
        margin-top: 30%;
    }

    .subTxt {
        font-weight: 300;
        font-size: calc(1em + .75vmin);
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3%;
        text-align: center;
        color: #243E51;
        text-shadow: 0 0 20px #fff;
    }

    .titleTxt {
        font-weight: 300;
        font-size: calc(1.5em + 1.75vmin);
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: 7%;
        text-align: center;
        color: #243E51;
        text-shadow: 0 0 20px #fff;
    }

    .button-main {
        z-index: 100;
        position: absolute;
        border: 1px solid #253E51;
        color: #243E51;
        padding: 1% 1%;
        left: 0;
        right: 0;
        margin-top: 14%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 150px;
        font-size: calc(.5em + .75vmin);
        background-color: rgba(255, 255, 255, 0.5);
        /* opacity: .25;  */
    }

    .cta {
        font-weight: 400;
        color: #243E51;
        z-index: 200;
    }
}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}