table {
  width: 1140px;
  /* max-width: 1200px; */
  border-collapse: collapse;
}

.left-side-content.priceTb{
  width: 100%;
}
/* Zebra striping */
tr:nth-of-type(odd) {
  background: #eee;
}

th {
  /* background: #333; */
  color: #222;
  font-weight: 600;
}

td, th {
  padding: 10px 20px;
  border: 1px solid #ccc;
  text-align: center;
}

th:last-child, td:last-child {
  padding-right: 30px;
}

.subscription_cont {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.sub {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width:320px;
  margin: 25px 30px;
  height: auto;
  /* opacity: .5; */
  background-color: #46667A;
  border-radius: 10px;
  text-align: center;
  color:#FAFBFB;
}

.sub_title{
  flex-wrap: wrap;
  padding: 27px 0 20px 30px;
  width: 45%;
  height: auto;
  font-size: 20px;
  text-align: left;
  margin-right: x;
}

.Non-Profit{
  flex-wrap: wrap;
  padding:33px 0 10px 10px;
  width: 25%;
  height: auto;
  text-align: left;
  font-size: 14px;
}

.checkbox{
  flex-wrap: wrap;
  padding:27px 20px 10px 0px;
  width: 26px;
  height: 25px;
}

.subPrice{
  padding: 0 10px 0 30px;
  width: 100%;
  height: auto;
  font-size: 30px;
  text-align: left;
}


.mus-hours{
  padding: 0 10px 20px 30px;
  width: 60%;
  height: auto;
  font-size: 12px;
  text-align: left;
}

.addPrice{
  padding: 0 10px 0 30px;
  width: 100%;
  height: auto;
  font-size: 30px;
  text-align: left;
}

.mus-hours-full1{
  padding: 0 10px 0 30px;
  width: 100%;
  height: auto;
  font-size: 12px;
  text-align: left;
}

.mus-hours-full2{
  padding: 0 10px 30px 30px;
  width: 100%;
  height: auto;
  font-size: 12px;
  text-align: left;
}

.italicTxt{
  font-style: italic; 
  margin-bottom:0; 
  color: #575D60;
}


