.affiliates_cont {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-content:center;
  }
  
.aff {
    flex-grow: 3;
    width:200px;
    margin: 25px;
    height: auto;
    /* opacity: .5; */
    /* background-color: red; */
    text-align: center;
}

.aff_img{
    margin:0 auto;
    width:200px;
    height:200px;
}

.aff_img img{
    width:100%;
}

.txt-block-studio{
    margin-bottom:0; 
    padding: 0 30px;
    font-size: 1.4rem;
    color: #fafbfb;;
}

p {
    margin-top: 10px;
}

.hero-image-studio {
    background: url("../images/guitar_player_hero.jpg") no-repeat;
        background-position-x: 0%;
        background-position-y: 0%;
        background-size: auto;
    background-size: cover;
    background-position: 50% 0%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .75;
    /* border-bottom: 20px solid #0f0d0d; */
}

.txt-block-studio a{
    color: #FFC778;
    font-weight: 400;
}

.txt-block-studio a:hover{
    color: #ffb349;
    font-weight: 400;
}

.introduction-vs{
    position: relative;
    width: 100%;
    /* max-width: 1200px; */
    margin: 0 auto;
    background-color: #0f0d0d;
}


.faq{
    position: relative;
    width: 100%;
    /* max-width: 1200px; */
    margin: 0 auto;
}

.main-margin-title-d{
    font-weight: 600;
    color: #0f0d0d;
    /* padding: 70px 30px 5px 10px; */
    font-size: 18px;
    padding: 0 30px 0 30px;
}

.studio_cont {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-content:center;
  }
  
.studio {
    /* border:1px solid #575D60; */
    /* border-radius: 15px; */
    flex-grow: 3;
    width:200px;
    margin: 25px;
    height: auto;
    padding:150px 0;
    /* opacity: .5; */
    /* background-color: red; */
    text-align: center;
    background-color:#e6eae0;
    border: 1px solid #dbddd8;
}

.studio_img{
    margin:0 auto;
    width:200px;
    height:200px;
}

.studio_img img{
    width:100%;
}

.studio .button {
    color: #FFF;
    border: 1px solid #F61B1B;
    background-color: #F61B1B;
    cursor: pointer;
    text-transform: none;
    font-size: 12.5px;
    letter-spacing: 0;
}

.studio .button:hover {
    border: 1px solid #851212;
    background-color: #851212;
    cursor: pointer;
}

.studio.left-side-content{
    padding: 30px 30px 35px 30px;
}

#studio-video{
    width: 100%;
    height: auto;
}

.hero-vs {
    position: relative;
    width: 100%;
    /* max-width: 1200px; */
    margin: 0 auto 75px auto;
        margin-bottom: 75px;
    padding: 0;
    text-align: center;
    position: relative;
    background-color: black;
    color: white;
}

.amazon_btn_vs{
    float:right;
    width:125px;
    height:auto;
    padding-left:10px;
}

.amazon_btn_vs img{
    width:100%;
}

.amazon_btn_vs-top{
    float:right;
    width:125px;
    height:auto;
    padding-left:10px;
}


.amazon_btn_vs-top img{

    width:125px;
   
}


.banner-bar-s{
    display:flex;
    flex-direction: row;
    justify-content: center;
    /* align-content: center; */
    align-items:center;
    /* padding: 0 20px 0 20px; */
    color:#FAFBFB; 
    font-size: 1.1em;
    font-weight: 300;
    padding:0 30px;
}
