.affiliates_cont {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-content:center;
  }
  
.aff {
    flex-grow: 3;
    width:200px;
    margin: 25px;
    height: auto;
    /* opacity: .5; */
    /* background-color: red; */
    text-align: center;
}

.aff_img{
    margin:0 auto;
    width:200px;
    height:200px;
}

.aff_img img{
    width:100%;
}

.txt-block-studio{
    margin-bottom:0; 
    padding: 0 30px;
    font-size: 1.4rem;
    color: #fafbfb;;
}