.affiliates_cont {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-content:center;
  }
  
.aff {
    flex-grow: 3;
    width:200px;
    margin: 25px;
    height: auto;
    /* opacity: .5; */
    /* background-color: red; */
    text-align: center;
}

.aff_img{
    margin:0 auto;
    width:200px;
    height:200px;
}

.aff_img img{
    width:100%;
}

.txt-block-studio{
    margin-bottom:0; 
    padding: 0 30px;
    font-size: 1.4rem;
    color: #fafbfb;;
}

p {
    margin-top: 10px;
}

.hero-image-studio {
    background: url("../images/guitar_player_hero.jpg") no-repeat;
        background-position-x: 0%;
        background-position-y: 0%;
        background-size: auto;
    background-size: cover;
    background-position: 50% 0%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .75;
    /* border-bottom: 20px solid #0f0d0d; */
}

.txt-block-studio a{
    color: #FFC778;
    font-weight: 400;
}

.txt-block-studio a:hover{
    color: #ffb349;
    font-weight: 400;
}

.herotxt{
    text-align: left;
    margin: 0 30px;
    text-shadow: 2px 2px #000;
}
