.hero {
    position: relative;
    width: 100%;
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 0;
    min-height: 700px;
    text-align: center;
    position: relative;
    background-color: #000;
    /* layer fill content */
    color: white;
}

.hero-tech {
    position: relative;
    width: 100%;
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 0;
    min-height: 700px;
    text-align: center;
    position: relative;
    background-color: #000;
    color: white;
}

.hero-image {
    background: url("../images/tech_pg_hero.jpg") no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .9;
}

.hero-image:after {
    /* content: ''; */
    /* opacity: .65; */
    /* layer alpha */
    /* background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSIxMDAlIiB5MT0iNTAlIiB4Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIiB5Mj0iNTAlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JiNDI0MiIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VmYWI0YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+); */
    /* gradient overlay */
    /* background-image: -moz-linear-gradient(right, #bb4242 0%, #efab4a 100%); */
    /* gradient overlay */
    /* background-image: -o-linear-gradient(right, #bb4242 0%, #efab4a 100%); */
    /* gradient overlay */
    /* background-image: -webkit-linear-gradient(right, #bb4242 0%, #efab4a 100%); */
    /* gradient overlay */
    /* background-image: linear-gradient(right, #bb4242 0%, #efab4a 100%); */
    /* gradient overlay */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hero h2 {
    font-size: 24px;
}

.hero p {
    padding: 0 15%;
}

.hero .separator:before {
    background-color: white;
}



.latency-in-depth, .optimizing-in-depth-01,
.optimizing-in-depth-02, .optimizing-in-depth-03, 
.optimizing-in-depth-04,.optimizing-in-depth-05, 
.tech-models, .why-jacktrip{
    /* background-color: #F9FDFF; */
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}

.model-tint, .model-tint2{
    background-color: #0D2233;
    position: relative;
    width: 100%;
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 0 5% 5% 5%;
}

/* .server-image{
    position: relative;
    width: 100%;
    height:500px;
    padding:0;
    max-width: 1200px;
    margin:0 auto;
    overflow: hidden;
}

.server-image img{
    width: 100%;
} */



/* .column, .columns .float_r{
    margin: 0 0 4% 0;
    padding-left: 4%;
   
} */

/* .column, .columns .float_l {
    margin: 0 0 4% 0;
    padding-right: 4%;
} */

/* .column, .columns .float_l{
    margin: 0 0 0 0;
    padding-right: 4%;
} */


/* .pic_env.float_l.six.columns {
    margin: 0 0 0 0;
    padding-right: 4%;
} */

.model-ul{
    text-align:left; 
    margin: 3% 5% 12% 18%;
    list-style-type: disc;
    list-style-position: outside; 
    /* font-size:calc(.5em + .5vmin); */
    font-size: 16px;
}

.model-p{
    text-align:left;
    margin: 5% 2% 0 5%;
    font-weight: 700;
    font-size: 16px;
}

.imgs{
    width: 50%;
}
.imgs img{
    width: 100%;
    border: 5px solid #b2d4ee;
}


.server {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    min-height: 700px;
    text-align: center;
    position: relative;
    background-color: #000;
    /* layer fill content */
    color: white;
}

.server-image {
    background: url("../images/server_image.jpg") no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .9;
}

.server-image:after {
    /* content: ''; */
    /* opacity: .65; */
    /* layer alpha */
    /* background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSIxMDAlIiB5MT0iNTAlIiB4Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIiB5Mj0iNTAlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JiNDI0MiIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VmYWI0YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+); */
    /* gradient overlay */
    /* background-image: -moz-linear-gradient(right, #bb4242 0%, #efab4a 100%); */
    /* gradient overlay */
    /* background-image: -o-linear-gradient(right, #bb4242 0%, #efab4a 100%); */
    /* gradient overlay */
    /* background-image: -webkit-linear-gradient(right, #bb4242 0%, #efab4a 100%); */
    /* gradient overlay */
    /* background-image: linear-gradient(right, #bb4242 0%, #efab4a 100%); */
    /* gradient overlay */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hero h2 {
    font-size: 24px;
}

.hero p {
    padding: 0 15%;
}

.hero .separator:before {
    background-color: white;
}

.model-graphic img{
    width: 100%;
}

.banner-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 50px 20px 20px 20px;
    color: #FAFBFB;
    font-size: 1.1em;
    font-weight: 300;
}