@media (min-width: 0px) {

    .video-left{
        align-self: center; 
        max-width: 600px; 
        display: flex; 
        position: relative; 
        margin: 0 auto; 
        flex-direction: column; 
        align-self: start; 
        width: auto;
    }

    .vid-description{
        font-size: 18px; 
        font-weight:400; 
        color: white;  
        line-height: 30px; 
        letter-spacing: .5px; 
        text-align: center; 
        padding: 0;
    }
    .btn-ctn{
        display: flex; 
        flex-direction: column; 
        flex-wrap: nowrap; 
        margin: 5% auto;
    }

    .form-right{
        max-width: 600px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 12% auto 0 auto;
    }

    .title-poster {
        width: 96%;
        margin: 0 auto;
      }

    .text-00-top{
        font-size: 12px;
        font-weight: 500;
        color: white;
        position: absolute;
        padding: 0 10%;
        top: 50%; 
        
    }

    .text-00-bottom{
        font-size: 11px;
        font-weight: 300;
        position: absolute;
        bottom: 10%;
        padding: 0 10%;
    }

    .right-side-header{
        width: 100%;
        margin: 10% auto 5% auto;
    }

    .pfontsize{
        font-size: 12px;
        margin-top:2%;
    }

    .vid-thumb-cont {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        width: 100%;
        align-content: center;
        position: relative;
        /* margin: 0 auto; */
    }
    

    .vid01Btn {
        width: 30%;
        flex-grow: 3;
        /* margin: 25px; */
        padding: 15px 10px 15px 0;
        height: auto;
        text-align: center;
        cursor: pointer;
    }

    .vid01Btn img {
        width: 100%;
        border:1px solid #fff;
    }

    .vid02Btn {
        width: 30%;
        flex-grow: 3;
        padding: 15px 10px;
        /* margin: 25px; */
        height: auto;
        text-align: center;
        cursor: pointer;
    }

    .vid02Btn img {
        width: 100%;
        border:1px solid #fff;
    }

    .vid03Btn {
        width: 30%;
        flex-grow: 3;
        padding: 15px 0 15px 10px;
        /* margin: 25px; */
        height: auto;
        text-align: center;
        cursor: pointer;
    }

    .vid03Btn img {
        width: 100%;
        border:1px solid #fff;
    }

    .hubspot-form-txt {
        padding: 0 0;

    }

    .video-form-cont {
        flex-direction: column;
    }

    .image-jt-desktop {
        display: none;
    }

    #poster {
        display: none;
    }

    #poster2 {
        display: block;
    }

    #mobile-poster {
        display: block;
    }

    #desktop-info {
        display: none;
    }

    #mobile-info {
        display: block;
    }

    #logo-sec {
        margin: 10% auto 0 auto;
    }

    #poster-sec {
        margin: 10% auto 0 auto;
    }

    #details-sec {
        margin: 0 auto 0 auto;

    }

    #info-sec {
        margin: 10% auto 0 auto;
    }

    #lm-sec {
        margin: 10% auto 0 auto;
    }

    #hub-sec {
        margin: 10% auto 10% auto;
    }

    #logo {
        width: 94%;
    }

    .intro {
        font-size: 16px;
        margin-top: 8%;
        letter-spacing: 4px;
        line-height: 21px;
    }

    .ptxt {
        font-size: 16px;
        line-height: 26px;
        letter-spacing: .25px;
        margin-top: 10%;
    }


    .time-date {
        font-size: 30px;
        margin-top: 5%;
        line-height: 42px;
    }

    .info-graphic {
        width: 90%;
    }

    .cta-cont {
        margin-top: 10%;
    }

    #hubspot {
        width: 94%;
        margin-top: 10%;
    }
}

@media (min-width: 414px) {
    .hubspot-form-txt {
        padding: 0 10%;

    }
}


@media (min-width: 650px) {
    .pfontsize{
        font-size: 16px;
        margin-top:2%;
        margin-bottom: 5%;
    }

    .hubspot-form-txt {
        padding: 0 18%;

    }

    #desktop-info {
        display: block;
    }

    #mobile-info {
        display: none;
    }

    #poster {
        display: block;
    }

    #poster2 {
        display: none;
    }


    #mobile-poster {
        display: none;
    }

    .image-jt-desktop {
        display: block;
    }
}



@media (min-width: 750px) {
    .vid-description{
        padding: 0 30px;
    }

    
    .btn-ctn{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 5% 20%;
        margin: 5% auto 5% auto;
    }

    .title-poster {
        width: 70%;
        margin: 0 auto;
      }

    .text-00-top{
        font-size: 21px; 
        font-weight: 500; 
        color: white; 
        position: absolute; 
        right: 5%; 
        width: 40%; 
        top: 36%; 
        line-height: 30px;
    }

    .text-00-bottom{
        font-size: 16px; 
        font-weight: 300; 
        line-height: 24px; 
        position: absolute; 
        right: 5%; 
        bottom: 13%; 
        width: 40%; 
        letter-spacing: .5px;
    }

    .right-side-header{
        align-self: center; 
        width: 100%;
    }
    .vid-thumb-cont {
        flex-direction: row;
        width: 100%;
        margin: 0 auto;
    }
    .vid01Btn {
        width: 150px;
        flex-grow: 3;
        /* margin: 25px; */
        padding: 15px 10px 15px 0;
        height: auto;
        text-align: center;
    }

    .vid01Btn img {
        width: 100%;
       
    }

    .vid02Btn {
        width: 150px;
        flex-grow: 3;
        padding: 15px 10px;
        /* margin: 25px; */
        height: auto;
        text-align: center;
    }

    .vid02Btn img {
        width: 100%;

    }

    .vid03Btn {
        width: 150px;
        flex-grow: 3;
        padding: 15px 0 15px 10px;
        /* margin: 25px; */
        height: auto;
        text-align: center;
    }

    .vid03Btn img {
        width: 100%;
 
    }
    

    #logo-sec {
        margin:  0 auto;
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: nowrap;
    }

    #poster-sec {
        margin: 2% auto;
    }

    #details-sec {
        margin: 2% auto 0 auto;

    }

    #info-sec {
        margin: 5% auto 0 auto;
    }

    #lm-sec {
        margin: 5% auto 0 auto;
    }

    #hub-sec {
        margin: 5% auto 10% auto;
    }


    #logo {
        width: 55%;
    }

    .intro {
        font-size: 16px;
        margin-top: 4%;
        letter-spacing: 4px;
        line-height: 21px;
        text-align: center;
    }

    .ptxt {
        font-size: 18px;
        line-height: 26px;
        letter-spacing: .25px;
        margin-top: 1%;
    }


    .time-date {
        font-size: 30px;
        margin-top: 1%;
        line-height: 42px;
    }

    .info-graphic {
        width: 90%;
    }

    .cta-cont {
        margin-top: 5%;
    }

    #hubspot {
        width: 64%;
        margin-top: 4%;
    }


    @media (min-width: 850px) {
        
        #logo {
            width: 75%;
            margin: 0 auto; 
        }
    }

    @media (min-width: 1000px) {
        .video-left{
            width: 50%;
        }
        .form-right{
            margin:0 auto;
        }

        .right-side-header{
            align-self: center; 
            width: 60%;
        }
        .video-form-cont {
            flex-direction: row;
        }

        .btn-ctn{
            display: flex; 
            flex-direction: column; 
            flex-wrap: nowrap; 
            margin: 0 auto;
        }
    }


}